{{ define "main" }}

	<div class="widthControlled">
		<h2>Categories</h2>
		{{ partial "all_categories" . }}

		<h2 class="mt-8">Posts</h2>
		{{ $list := (where .Site.Pages "Type" "post") }}
		{{ range $list }}
			<div class="mb-4 flex flex-col">
				<a href="{{ .Permalink }}" class="link w-[6.25rem]"><time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</span></a>
				{{ if .Title }}
				<p class="flex text mt-1"><b>{{ .Title }}</b></p> 
				{{ end }}
				<p class="flex text mt-1">{{ .Summary | truncate 250 }}</p>
			</div>

		{{ end }}
	</div>

{{ end }}