@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    font-size: 16px;
  }

  body {
    @apply bg-background dark:bg-background-dark mx-4 transition-colors duration-500;
  }

  .text {
    @apply text-text dark:text-text-dark font-sans tabular-nums leading-5 transition-colors duration-500;
  }

  .link {
    @apply underline text-accent  dark:text-accent-dark;
  }

  .socialLink {
    @apply text-lg text-accent dark:text-accent-dark;
  }

  .button {
    @apply text-lg no-underline py-[.2rem] px-2 border-2 text-accent dark:text-accent-dark border-accent dark:border-accent-dark rounded-md hover:text-slate-800 hover:bg-accent dark:hover:bg-accent-dark transition-colors;
  }

  .navbarLink {
    @apply button sm:ml-4 sm:px-3;
  }

  .secondary {
    @apply text-secondary dark:text-secondary-dark text-sm duration-500;
  }

  .hoverUnderline {
    @apply hover:underline;
  }

  .secondaryLink {
    @apply secondary hoverUnderline;
  }

  .widthControlled {
    @apply max-w-[60ch] mx-auto;
  }

  .hr {
    @apply bg-border dark:bg-border-dark;
  }

  .border {
    @apply border-2 border-accent dark:border-accent-dark;
  }

  table {
    @apply text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    @apply text;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-5 my-2 font-bold text-headings dark:text-headings-dark;
  }

  h1 {
    @apply text-headings dark:text-headings-dark;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-lg;
  }

  .content > p {
    @apply my-2 leading-[1.6rem] sm:leading-6;
  }

  .content > h2,
  .content > h3,
  .content > h4,
  .content > h5,
  .content > h6 {
    @apply mt-9;
  }

  p > a {
    @apply link;
  }

  em {
    @apply italic text;
  }

  ul,
  ol {
    @apply my-1 mx-8 text;
  }

  ol {
    @apply list-decimal;
  }

  li {
    @apply mx-1.5 my-3;
  }

  code {
    @apply my-1 font-bold table-fixed overflow-x-scroll !border-0;
  }

  pre {
    @apply flex-1 table-fixed !border-0;
    max-width: calc(100vw - 2em);
    text-shadow: none;
  }

  :not(pre) > code[class*="language-"] {
    @apply text font-normal inline-block italic !mt-0.5 !mb-0 !pr-2 !pl-1.5 !pt-0.5 !pb-1 !overflow-x-auto !overflow-y-hidden !align-top !leading-4 !shadow-none !bg-code dark:!bg-code-dark !text-code-text dark:!text-code-textDark sm:!pt-1 sm:!mt-0;
    max-width: calc(100vw - 2rem);
    text-shadow: none;
  }

  table {
    table-layout: fixed;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0;
    border: 1px solid #444;
    border-collapse: collapse;
  }

  table > tr {
    background-color: $data-background-light;
    border: 1px solid $border-light;
    padding: 0.25em;
  }

  table > thead {
    text-transform: uppercase;
  }

  table > th,
  table > td {
    padding: 0.5em;
    text-align: center;
  }

  table > th {
    font-weight: bold;
  }

  blockquote {
    @apply bg-category dark:bg-category-dark border-l-4 border-l-accent dark:border-l-accent-dark;
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    margin: 0.5rem 0 1.5rem;
    padding: 0.75em 1.25em;
  }

  blockquote > p {
    @apply text italic font-bold;
  }

  blockquote > cite {
    @apply flex text mt-1 before:content-['-'] before:mr-1;
  }

  img {
    @apply block max-w-full h-auto my-2 mx-auto rounded;
  }

  .photogrid {
    @apply w-full grid grid-cols-3 gap-x-2 gap-y-2  sm:gap-x-4 sm:gap-y-4 my-1 sm:my-2;
  }

  .photogrid > img {
    @apply m-0 my-auto;
  }

  .single-content img {
    @apply cursor-pointer;
  }

  hr {
    height: 1px;
    background: var(--fog);
    border: 0;
    margin-block: 12rem;
  }

  iframe {
    width: 100%;
    background: var(--black);
  }

  .microblog_conversation {
    @apply flex flex-col border-t border-t-border mt-12;
  }

  .microblog_post {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .microblog_user {
    @apply flex items-center;
  }

  .microblog_user img {
    @apply mx-0 my-0 aspect-square;
  }

  .microblog_fullname {
    @apply text ml-2;
  }

  .microblog_avatar {
    @apply rounded-full;
  }

  .microblog_text {
    @apply text mt-3;
  }

  .microblog_time {
    @apply mt-1;
  }

  .microblog_time a {
    @apply secondary;
  }
}
