<article class="flex flex-col w-full mb-8 sm:mb-12 relative">
  {{ if .Title }}
  <a href="{{ .Permalink }}">
    <h2 class="text-2xl mb-0 link leading-6">{{ .Title }}</h2>
  </a>
  <time datetime="{{ .Date }}" class="mb-4 text-lg secondary">
    {{ .Date | time.Format ":date_medium" }}
  </time>
  <p>{{ .Summary | truncate 200 }}</p>
  {{ else }}
  <a href="{{ .Permalink }}">
    <h2 class="text-2xl link font-bold">
      <time datetime="{{ .Date }}">
        {{ .Date | time.Format ":date_medium" }}
      </time>
    </h2>
  </a>
  <section class="flex flex-col content">{{ .Content }}</section>
  {{ end }} 
  {{ partial "categories.html" .}}
</article>
