{{ define "main" }}

    {{ if not .Site.Params.hide_categories_on_archive }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
            <div class="flex flex-row mt-4">
                <a class="bg-category dark:bg-category-dark hover:bg-category-hover transition-colors text pt-0.25 pb-0.5 px-1.5 mx-1 rounded first-of-type:ml-0" href="{{ "/categories/" | relURL }}{{ $name | urlize }}"> {{ $name }}</a>
            </div>
        {{ end }}
    {{ end }}
	
	{{ $list := (where .Site.Pages "Type" "post") }}
	{{ range $list }}

		<p class="mb-6">
			<a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</span></a>:
			<span class="link"><b>{{ .Title }}</b></span> 
			<span class="text">{{ .Summary | truncate 100 }}</span>
		</p>

	{{ end }}

{{ end }}